---
layout: default
title: Conferences
---

<header>
    <h1>Conferences</h1>
</header>

<section class="conferences">

Some quotes from people who have attended my talks recently

<blockquote>One of the better talks of DPC13. Very fun, entertaining and interesting. Used good examples from his own experience, and showed some good code examples. And a lot of tips what to do, and not to do.</blockquote>

<blockquote>Great speaker presenting great content backed up with some real life experience. Everything a talk needs!</blockquote>

<blockquote>Really enjoyed the talk and the humorous approach. Will most certainly be implementing statsd sometime in the near future. Liked the way stats were correlated to deployments that would be a big win for me.</blockquote>

<blockquote>Really good talk. Liked the examples on how to make a spider act more like a human being. Presentation was good, lots of good examples, mixed with a good dose of humor.</blockquote>

<blockquote>Interesting and insightful. The talk was delivered very professionally.</blockquote>


<ul id="photos"></ul>

<dl>
    <dd class="clear"></dd>

    {% for year in site.conferences %}
    <dt>{{ year.year }}</dt>
    <dd>
        {% for conference in year.talks %}
        <h2>{{ conference.title }} <span>{{ conference.location }}, {{ conference.date }}</span></h2>
        <p>
            {% if conference.spoken %}
                {% for talk in conference.spoken %}
                    {% if talk.workshop %}Teached a workshop{% else %}Gave a talk{% endif %} on <strong>"{{ talk.title }}"</strong>{% if talk.slides %}, <a href={{ talk.slides }} >slides</a>{% endif %}{% if talk.feedback %}, <a href={{ talk.feedback }} >feedback</a>{% endif %}<br />
                {% endfor %}
            {% endif %}
            {% if conference.spoken == null and conference.info == null %}
                Just attended
            {% else %}
                {{ conference.info }}
            {% endif %}
        </p>
        {% endfor %}
    </dd>

    <dd class="clear"></dd>

    {% endfor %}
</dl>
</section>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script type="text/javascript" src="jflickrfeed.min.js"></script>
<script>
$(document).ready(function(){
$('#photos').jflickrfeed({
    limit: 15,
    qstrings: {
        id: '48016980@N08',
        tags: 'conferences',
    },
    useTemplate: false,
    itemCallback: function(item){
        $(this).append("<li><a href=\"" + item.link + "\"><div style=\"background-image: url('" + item.image_m + "');\"></div></a></li>");
    }
});

});
</script>