---
layout: default
title: Conferences
---
<section>
<header>
    <h1>Conferences</h1>
</header>

<p>
    I have travelled the world talking about technical and business topics. From Japan and India to most countries in Europe, to the US and Canada. In front of small audiences at local user-groups to thousands of people at large international events.
</p>

<ul class="photos">
    {% for image in site.pictures limit:12 %}
        <li><a href="/pictures/{{ image }}" title="{{ image | remove:'.jpg' | split:'-' | join:' ' }}"><img src="/pictures/{{ image }}" alt="{{ image | remove:'.jpg' | split:'-' | join:' ' }}" /></a></li>
    {% endfor %}
</ul>

{% for year in site.conferences %}
    <h2>{{ year.year }}</h2>

    {% for conference in year.talks %}
    <h3>{{ conference.title }} <span>{{ conference.location }}, {{ conference.date }}</span></h3>
    <p>
        {% if conference.spoken %}
            {% for talk in conference.spoken %}
                {% if talk.workshop %}Teached a workshop{% else %}Gave a talk{% endif %} on <strong>"{{ talk.title }}"</strong>{% if talk.slides %}, <a href={{ talk.slides }} >slides</a>{% endif %}<br />
            {% endfor %}
        {% endif %}
        {% if conference.spoken == null and conference.info == null %}
            Just attended
        {% else %}
            {{ conference.info }}
        {% endif %}
    </p>
    {% endfor %}
{% endfor %}

<h2>Quotes</h2>
Some quotes from people who have recently attended my talks

<blockquote>This was the talk that I learned the most from, I find it fascinating that he can debug just by correlating data points across many systems. I plan to start using the techniques ASAP. - about "You Can't Optimize What You Can't Measure" at Lone Star PHP conference</blockquote>

<blockquote>I really like the way Joe presents his message. His slides are laid out well and he does a great job speaking to the crowd interactively without just reading off slides the entire time. With the real-world examples he shares, it was very helpful. - about "You Can't Optimize What You Can't Measure" at Lone Star PHP conference</blockquote>

<blockquote>Presentation and content were wonderful. Thank you - about "Virtualized Development" at Lone Star PHP conference</blockquote>

<blockquote>One of the better talks of DPC13. Very fun, entertaining and interesting. Used good examples from his own experience, and showed some good code examples. And a lot of tips what to do, and not to do. - about "Growing spiders to crawl the web" at Dutch PHP conference</blockquote>

<blockquote>Great speaker presenting great content backed up with some real life experience. Everything a talk needs!</blockquote>

<blockquote>Really enjoyed the talk and the humorous approach. Will most certainly be implementing statsd sometime in the near future. Liked the way stats were correlated to deployments that would be a big win for me.</blockquote>

<blockquote>Really good talk. Liked the examples on how to make a spider act more like a human being. Presentation was good, lots of good examples, mixed with a good dose of humor.</blockquote>

<blockquote>Interesting and insightful. The talk was delivered very professionally.</blockquote>

<ul class="photos">
    {% for image in site.pictures offset:12 %}
        <li><a href="/pictures/{{ image }}" title="{{ image | remove:'.jpg' | split:'-' | join:' ' }}"><img src="/pictures/{{ image }}" alt="{{ image | remove:'.jpg' | split:'-' | join:' ' }}" /></a></li>
    {% endfor %}
</ul>

</section>
