* { margin: 0; padding: 0; }
body { font: 20px 'Merriweather', serif; letter-spacing: 0.01rem; font-weight: 300; line-height: 1.5; width: 940px; margin: 20px auto 30px; padding: 0 40px 0 40px;}
.clear { clear: both; }
section > header { text-align: center; width: 720px; margin: 0 auto;}
h1, h2, h3 { font-family: 'Merriweather', serif; }
h1 { font-size: 60px; font-weight: 700; display: inline; }
h2 { font-size: 22px; margin: 0 0 6px 0; position: relative; }
h2 span { position: absolute; bottom: 0; right: 0; font: 22px 'Open Sans', serif; font-style: italic; font-size: 18px; color: #999; font-weight: normal; }
h3 { font-size: 20px;}
p { margin: 0 0 16px 0; }
a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
a:hover { border-bottom-style: solid; color: black; }
dt { font-style: italic; font-weight: 700; font-size: 20px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
.conferences dt { width: 50px; }
dd { width: 760px; float: right; }
.conferences dd { width: 860px; }
dd.clear { float: none; margin: 0; height: 15px; }

.footer { font: 40px 'Crimson Text', serif; text-transform: uppercase; float: left; width: 100%; }
.footer > a { color: black; }
.footer > a:hover { color: #999; }
.footer a { border: none; }
.footer nav { float: right; font-size: 24px; }
.footer, .footer nav { height: 25px; margin-bottom: 100px; }
.footer nav ul { margin: 0; padding: 0; list-style: none; }
.footer nav ul li { display: inline; margin: 0 6px; padding: 0; }

time { color: #666; font-size: 18px; font-style: italic; margin-left: 10px; }
header time { display: block; }
.postPreview { margin: 30px 0; }
.postPreview > header { margin: 5px 0; }
.postPreview > header > h1 { display: inline; font-size: 28px; }
.postPreview time { float: right; }
article { margin: 30px 0 0 0; }
article > header { margin: 15px 0; }
article > header > h1 { display: inline; font-size: 32px; }
article > section > h2 { font-size: 28px; margin: 10px 0; }
img {}
img.left { float: left; }
img.right { float: right; }
img.center { margin-left: auto; margin-right: auto; display: block; }
blockquote { margin-top: 10px; margin-bottom: 10px; margin-left: -13px; padding-left: 10px; border-left: 3px solid #ccc; font-style: italic; }

.share ul { margin: 0; list-style:none; }
.share li { display:inline; font-size: 1px; margin-right: 10px; }
div .fb_reset { display: inline; }
.twitter-share-button {width: 80px !important; }

.conferences #photos { margin: 0 auto; padding: 0; overflow: hidden; width: 960px; }
.conferences #photos li { list-style: none; float: left; margin: 5px; padding: 1px; background: #eee; -moz-box-shadow: 0 0 4px #444; -webkit-box-shadow: 0 0 2px #000; width: 180px; height: 180px; }
.conferences #photos li div { background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 100%; }
.conferences #photos li a { }
.conferences #photos li img {  }
.conferences #photos li a img { border: none; }

.cv h2 { margin-top: 40px; margin-bottom: 20px; font-size: 30px; }
.cv h3 span { float: right; font: 22px 'Open Sans', serif; font-style: italic; font-size: 18px; color: #999; font-weight: normal; }
.cv h3 { margin-top: 30px;}
.cv ul { margin: 0 0 0 17px; }

.cv img {width: 150px; height: 150px;}
.cv img.left {margin-right: 20px;}

.cv img {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;
filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
