* { margin: 0; padding: 0; }
body { font: 22px 'Crimson Text', serif; line-height: 32px; width: 960px; margin: 40px auto 60px; }
.clear { clear: both; }
section > header { border-bottom: 1px solid #999; }
h1, h2, h3 { font-family: 'Playfair Display SC', serif; }
h1 { font-size: 44px; font-weight: bold; display: inline; margin: 0 0 16px 0; padding: 0 0 16px 0; color: #000000;}
h2 { font-size: 22px; margin: 0 0 6px 0; position: relative; }
h2 span { position: absolute; bottom: 0; right: 0; font: 22px 'Crimson Text', serif; font-style: italic; font-size: 18px; color: #999; font-weight: normal; }
p { margin: 0 0 16px 0; }
a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
a:hover { border-bottom-style: solid; color: black; }
ul { margin: 0 0 32px 17px; }
dt { font-style: italic; font-weight: bold; font-size: 20px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
.conferences dt { width: 50px; }
dd { width: 760px; float: right; }
.conferences dd { width: 860px; }
dd.clear { float: none; margin: 0; height: 15px; }

.header { font-family: Helvetica; float: left; width: 100%; }
.header a { }
.header nav { float: right; }
.header, .header nav { height: 25px; margin-bottom: 42px; }
.header nav ul { margin: 0; padding: 0; list-style: none; }
.header nav ul li { display: inline; margin: 0 2px; padding: 0; }

time { color: #666; font-size: 18px; font-style: italic; margin-left: 10px; }
header time { float: right; }
.postPreview { margin: 30px 0; }
.postPreview > header { margin: 5px 0; }
.postPreview > header > h1 { display: inline; font-size: 28px; }
.post { margin: 30px 0; }
.post > header { margin: 15px 0; }
.backLink { display: block; margin: 10px 0; }
.post > header > h1 { display: inline; font-size: 32px; }
.post > section > h2 { font-size: 28px; margin: 10px 0; }
.post > section > h3 { font-size: 24px; margin: 10px 0; }
.post .social { background: #DDD; padding: 15px; margin: 15px -15px; }
.post img {}
.post img.left { float: left; }
.post img.right { float: right; }
.post img.center { margin-left: auto; margin-right: auto; display: block; }
body > section > footer { text-align: center; }
blockquote { margin-top: 10px; margin-bottom: 10px; margin-left: 30px; padding-left: 10px; border-left: 3px solid #ccc; font-style: italic; }

.share ul { margin: 0; list-style:none; }
.share li { display:inline; font-size: 1px; margin-right: 10px; }
div .fb_reset { display: inline; }
.twitter-share-button {width: 80px !important; }

.conferences #photos { margin: 0 auto; padding: 0; overflow: hidden; width: 960px; }
.conferences #photos li { list-style: none; float: left; margin: 5px; padding: 1px; background: #eee; -moz-box-shadow: 0 0 4px #444; -webkit-box-shadow: 0 0 2px #000; width: 180px; height: 180px; }
.conferences #photos li div { background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 100%; }
.conferences #photos li a { }
.conferences #photos li img {  }
.conferences #photos li a img { border: none; }