* { margin: 0; padding: 0; }
body { font: 20px 'Merriweather'; letter-spacing: 0.01rem; font-weight: 300; line-height: 1.5; width: 100%; margin: 20px 0 20px 0; }
.clear { clear: both; }
section { margin: 0 auto; max-width: 1000px; padding-left: 20px; padding-right: 20px; }
section > header { text-align: center; margin-top: 50px; }
h1 { font-size: 35px; font-weight: 400; display: inline; }
h2 { margin-top: 40px; margin-bottom: 20px; font-size: 30px; }
h3 span { float: right; font: 22px 'Open Sans', serif; font-style: italic; font-size: 18px; color: #999; font-weight: normal; }
h3 { font-size: 20px;}
h3.margin-top { margin-top: 30px;}
p { margin: 0 0 16px 0; }
a { color: #000000; }
a:hover { text-decoration: none; }

time { color: #666; font-size: 12px; font-style: italic; }
header > time { display: block; }
.postPreview { margin: 30px 0; }
.postPreview > header { margin: 10px 0; }
.postPreview > header a { font-size: 25px; }
.postPreview time { float: right; }
article { margin: 50px auto 0 auto; max-width: 800px; }
.divider { display: block; width: 100px; margin: 61px auto 81px auto; border: 0; border-top: 1px solid #ccc;}
footer { font-size: 16px; text-align: right; }
img {}
img.left { float: left; }
img.right { float: right; }
img.center { margin-left: auto; margin-right: auto; display: block; }
img.logo { width: 150px; height: 150px; margin-right: 20px; margin-top: 20px; float: left; }
blockquote { margin-top: 10px; margin-bottom: 10px; margin-left: -13px; padding-left: 10px; border-left: 3px solid #ccc; font-style: italic; }

#photos { margin: 0 auto; padding: 0; overflow: hidden; }
#photos li { list-style: none; float: left; margin: 0.5%; padding: 1px; background: #eee; -moz-box-shadow: 0 0 4px #444; -webkit-box-shadow: 0 0 2px #000; width: 15%; height: 150px; }
#photos li div { background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 100%; }
#photos li a { }
#photos li img {  }
#photos li a img { border: none; }

ul { margin: 0 0 16px 17px; }

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.corner-logo {
    position: absolute; top: 0; left: 0; border: 0;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

@media (max-width: 1024px) {
    body { font-size: 16px; }
    footer { font-size: 14px; }
    h3 span, .postPreview time { float: none; display: block; }
    section > header { margin-top: 150px; }
    h1 { font-size: 25px; }
    h2 { font-size: 25px; }
    h3 { font-size: 20px; }
    #photos li { width: 23%; }

    .postPreview > header a { font-size: 20px; }
}

/* index page */
#about p, #about ul { color: #fff; font-size: 18px; font-weight: 400; line-height: 1.2; margin-bottom: 16px; -webkit-font-smoothing: antialiased; text-shadow: 0 1px 5px black; }
#about a { color: #fff; }
#about { width: 600px; padding-left: 20px; padding-right: 20px; margin: 0 auto 0 20px !important; }
#about h1 { color: #fff;  text-shadow: 0 1px 5px black; }

ul#connect{ margin-left: 0; width: 60px; position: fixed; right: 52px; top: 22px; }
#connect li{display:inline;list-style-type:none;}
#connect a{text-decoration: none;border-style: none;}
#connect a:link{text-decoration: none;opacity:0.6;border-style: none;}
#connect a:hover{text-decoration: none;opacity:0.9;border-style: none;}
#connect img {border:none; margin-bottom:5px; width: 48px; height: 48px;}

#serious #about { margin: 0 20px 0 auto !important; }
#serious ul#connect { right: none; left: 52px; }

#racing-driver #about { margin: 0 20px 0 auto !important; }
#racing-driver ul#connect { right: none; left: 52px; }

#speaker #go-speaker {display: inline;}
#speaker #go-punk, #speaker #go-scottish, #speaker #go-serious, #speaker #go-racing-driver {display: none;}

#serious #go-serious {display: inline;}
#serious #go-punk, #serious #go-scottish, #serious #go-speaker, #serious #go-racing-driver {display: none;}

#scottish #go-scottish {display: inline;}
#scottish #go-punk, #scottish #go-serious, #scottish #go-speaker, #scottish #go-racing-driver {display: none;}

#punk #go-punk {display: inline;}
#punk #go-scottish, #punk #go-serious, #punk #go-speaker, #punk #go-racing-driver {display: none;}

#racing-driver #go-racing-driver {display: inline;}
#racing-driver #go-scottish, #racing-driver #go-serious, #racing-driver #go-speaker, #racing-driver #go-punk {display: none;}

#headerimage { display: none; }

body {
  background-repeat no-repeat;
  background-position: center center;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#speaker {
  background-image: url('images/juozas-speaker.jpg');
}

body#serious {
  background-image: url('images/juozas-serious.jpg');
}

body#scottish {
  background-image: url('images/juozas-scottish.jpg');
}

body#punk {
  background-image: url('images/juozas-punk.jpg');
}

body#racing-driver {
  background-image: url('images/juozas-racing-driver.jpg');
}

@media (max-width: 1024px) {
    #about p, #about ul, #about a, #about h1 { color: #000; text-shadow: none; font-weight: 300; }
    #about a { text-decoration: underline; }
    #about p, #about ul { font-size: 16px; }

    #monogram { position: relative; width: auto; padding: 20px; margin: 0; }
    #about { position: relative; width: auto; margin: 0 !important; }

    body { background: none !important; }

    ul#connect{ position: static; width: 260px; padding: 10px 0 0 0; margin: 0 auto !important; }
    #serious ul#connect, #speaker ul#connect { padding: 10px 0 0 0; margin: 0 auto !important;}
    #connect a:link { opacity: 1; }

    #looks { display: none; }
    #headerimage { display: block; min-height: 30vw; background-position: 50% 30%; background-repeat: no-repeat; background-size: cover; margin-bottom: 20px; }
}
