---
layout: default
title: Blog
---
<section>
    <header>
        <h1>Blog</h1>
    </header>

    {% for post in paginator.posts %}
    <div class="postPreview" itemscope itemtype="http://schema.org/Article">
        <a name="{{ post.date | date: '%d%B%Y' }}"></a>
        <a href="{{ post.url }}"><h3 itemprop="headline">{{ post.title }}</h3></a>
        <div>
          <a href="{{ post.url }}"><img src="{{ post.image }}" alt="{{ post.title }}" /></a>
        </div>
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}" itemprop="datePublished">
            {{ post.date | date: '%d %B %Y' }}
        </time>
        <div itemprop="description">
            {{ post.excerpt }}
        </div>
        <!-- http://schema.org/Article requires an image property -->
        <meta itemprop="image" content="{{ site.url }}{{ post.image }}" />
    </div>
    {% endfor %}

    {% if paginator.page == 1 %}
      <a href="{{ site.paginate_path | replace: '//', '/' | replace: ':num', 2 }}">Browse older posts &raquo;</a>
    {% else %}
    <div class="pagination">
      <ul>
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <li>
              <a href="/blog/">&laquo;</a>
            </li>
          {% else %}
            <li>
              <a href="{{paginator.previous_page_path}}">&laquo;</a>
            </li>
          {% endif %}
        {% else %}
          <li class="disabled">
            <a href="#">&laquo;</a>
          </li>
        {% endif %}
        {% if paginator.page == 1 %}
          <li class="active">
            <a href="#">1</a>
          </li>
        {% else %}
          <li>
            <a href="/blog/">1</a>
          </li>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
          {% if count == paginator.page %}
            <li class="active">
              <a href="#">{{count}}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ site.paginate_path | replace: '//', '/' | replace: ':num', count }}">{{count}}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
          <li>
            <a href="{{paginator.next_page_path}}">&raquo;</a>
          </li>
        {% else %}
          <li class="disabled">
            <a href="#">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
</section>
