---
---

<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% if page.title %}{{ page.title }} // {% endif %}Juozas Kaziukėnas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% if page.excerpt %}<meta name="title" content="{{ page.title }}" />
    <meta name="description" content="{{ page.excerpt }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="http://juokaz.com{{ page.url }}" />
    <meta property="og:description" content="{{ page.excerpt }}" />{% endif %}
    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Merriweather:300,400' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" />
</head>

<body>
  {% if page.index_page != true %}
    <section>
      {{ content }}
    </section>

    <a href="/"><img class="corner-logo grayscale" src="/images/corner.png"></a>
  {% else %}
      {{ content }}
  {% endif %}

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25662977-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
