---
---

<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% if page.title %}{{ page.title }} // {% endif %}Juozas Kaziukėnas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% if page.excerpt %}<meta name="title" content="{{ page.title }}" />
    <meta name="description" content="{{ page.excerpt | replace: '"', '&quot;' }}" />
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ page.excerpt | replace: '"', '&quot;' }}" />
    <meta property="og:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/images/juozas.jpg{% endif %}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@juokaz" />
    <meta name="twitter:creator" content="@juokaz" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.excerpt | replace: '"', '&quot;' }}" />
    <meta name="twitter:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/images/juozas.jpg{% endif %}" />{% endif %}
    <link rel="stylesheet" href="/style.css?{{ site.time | date: '%s' }}" />
    <link href='//fonts.googleapis.com/css?family=Merriweather:300,400' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="icon" type="image/jpeg" href="/images/juozas.jpg" />

    <script type="application/ld+json">
    [
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "url": "{{ site.url }}/",
        "name": "Juozas Kaziukėnas",
        "image": "{{ site.url }}/images/juozas.jpg",
        "sameAs": [
            "https://www.linkedin.com/in/juozas/",
            "https://twitter.com/juokaz",
            "https://www.instagram.com/juokaz/"
        ]
      }
    ]
    </script>
</head>

<body{% if page.body_class %} id="{{ page.body_class }}"{% endif %}>
  {{ content }}

  {% if page.index_page != true %}
    <a href="/"><div id="corner-logo"></div></a>
  {% endif %}

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25662977-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
