---
---

<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% if page.title %}{{ page.title }} // {% endif %}Juozas Kaziukėnas</title>
    {% if page.excerpt %}<meta name="title" content="{{ page.title }}" />
    <meta name="description" content="{{ page.excerpt }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="http://juokaz.com{{ page.url }}" />
    <meta property="og:description" content="{{ page.excerpt }}" />{% endif %}
    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/internal.css" />
    <link href='http://fonts.googleapis.com/css?family=Merriweather:300|Crimson+Text' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" />
</head>

<body>
  <section>
  {{ content }}
  </section>

  <a href="/"><img style="position: absolute; top: 0; left: 0; border: 0;" src="/images/corner.png"></a>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25662977-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
