---
layout: default
---
<header>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
        {{ page.date | date: '%d %B %Y' }}
    </time>
</header>

<section class="post">
    <section>
        {{ content }}
    </section>
    <footer>
        <section class="share">
            <ul>
                <li>
                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
                </li>
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="juokaz" data-dnt="true" data-url="http://juokaz.com{{ page.url }}" data-text="{{ page.title }}">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </li>
                <li>
                    <script src="https://apis.google.com/js/plusone.js"></script>
                    <g:plus action="share" annotation="bubble"></g:plus>
                </li>
            </ul>
        </section>
        <section class="social">
            Find me on twitter as <a href="https://twitter.com/intent/user?screen_name=juokaz">@juokaz</a> or drop me an email if you want to discuss this more.<br />See a mistake? Help me fix it <a href="http://github.com/juokaz/juokaz.com">here</a>.
        </section>
    </footer>
</section>

<footer>
    Content licensed under the Creative Commons attribution-noncommercial-sharealike License.
</footer>