---
layout: default
---
<section itemscope itemtype="http://schema.org/Article">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <time datetime="{{ page.date | date: '%Y-%m-%d' }}" itemprop="datePublished">
            <a href="/blog#{{ page.date | date: '%d%B%Y' }}">{{ page.date | date: '%d %B %Y' }}</a>
        </time>
    </header>

    <article itemprop="articleBody">
        {{ content }}

        <hr />

        <footer>
            <a href="https://twitter.com/juokaz" class="twitter-follow-button">Follow @juokaz</a>

            <form action="https://tinyletter.com/juokaz" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/juokaz', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <input type="email" style="width:200px" name="email" id="tlemail" placeholder="Email address" />
                <input type="hidden" value="1" name="embed"/>
                <input type="submit" value="Get articles to email" />
            </form>
        </footer>
    </article>

    <div class="blog-navigation">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </div>

    <!-- http://schema.org/Article requires an image property -->
    <meta itemprop="image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.url }}/images/juozas.jpg{% endif %}" />
</section>
